<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tedu.sois.sys.dao.SysMenuDao">

    <select id="findPermissions" resultType="string">
        select permission <!-- sys:user:update -->
        from sys_menu
        where menu_id in
        <foreach collection="menuIds"
                 open="("
                 close=")"
                 separator=","
                 item="item">
            #{item}
        </foreach>
    </select>

    <update id="updateSysMenuInfo" parameterType="com.tedu.sois.common.pojo.sys.SysMenu">
        update sys_menu set
        menu_name = #{menuName},
        type = #{type},
        url = #{url},
        parent_id = #{parentId},
        sort = #{sort},
        permission = #{permission},
        note = #{note},
        icon = #{icon},
        modified_user = #{modifiedUser},
        modified_time = #{modifiedTime}
        where menu_id = #{menuId}
    </update>

    <insert id="insertSysMenuInfo" parameterType="com.tedu.sois.common.pojo.sys.SysMenu" useGeneratedKeys="true"
            keyProperty="menuId">
        insert into sys_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="menuName != null  and menuName != ''">menu_name,</if>
            <if test="url != null  and url != ''">url,</if>
            <if test="type != null  and type != ''">type,</if>
            <if test="sort != null  and sort != ''">sort,</if>
            <if test="note != null  and note != ''">note,</if>
            <if test="icon != null  and icon != ''">icon,</if>
            <if test="parentId != null  and parentId != ''">parent_id,</if>
            <if test="permission != null  and permission != ''">permission,</if>
            <if test="createdTime != null ">created_time,</if>
            <if test="modifiedTime != null ">modified_time,</if>
            <if test="createdUser != null  and createdUser != ''">created_user,</if>
            <if test="modifiedUser != null  and modifiedUser != ''">modified_user,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="menuName != null  and menuName != ''">#{menuName},</if>
            <if test="url != null  and url != ''">#{url},</if>
            <if test="type != null  and type != ''">#{type},</if>
            <if test="sort != null  and sort != ''">#{sort},</if>
            <if test="note != null  and note != ''">#{note},</if>
            <if test="icon != null  and icon != ''">#{icon},</if>
            <if test="parentId != null  and parentId != ''">#{parentId},</if>
            <if test="permission != null  and permission != ''">#{permission},</if>
            <if test="createdTime != null ">#{createdTime},</if>
            <if test="modifiedTime != null ">#{modifiedTime},</if>
            <if test="createdUser != null  and createdUser != ''">#{createdUser},</if>
            <if test="modifiedUser != null  and modifiedUser != ''">#{modifiedUser},</if>
        </trim>
    </insert>

    <!-- 查询所有菜单以及菜单对应的上级菜单的菜单名 -->
    <select id="selectMenuList" resultType="map">
        select
        menu_id as menuId,
        menu_name as menuName,
        parent_id as parentId,
        sort,url,permission,type,note,icon,
        created_user as createdUser,modified_user as modifiedUser,
        created_time as createdTime,modified_time as modifiedTime
        from sys_menu
        order by sort
    </select>

    <!--查询出二级菜单-->
    <resultMap id="sysUserMenuVo" type="com.tedu.sois.sys.vo.SysUserMenuVo">
        <id property="menuId" column="pId"></id>
        <id property="menuName" column="pName"></id>
        <id property="url" column="pUrl"></id>
        <collection property="children" ofType="com.tedu.sois.sys.vo.SysUserMenuVo">
            <id property="menuId" column="cId"></id>
            <id property="menuName" column="cName"></id>
            <id property="url" column="cUrl"></id>
        </collection>
    </resultMap>
    
    <select id="selectMenusByIds" resultMap="sysUserMenuVo">
        select p.menu_id pId,p.menu_name pName,p.url pUrl,c.menu_id cId,c.menu_name cName,c.url cUrl
        from sys_menu p join sys_menu c
        on p.menu_id=c.parent_id
        <where>
            <foreach collection="menuIds" open="(" close=")" separator="or" item="menuId">
                c.menu_id=#{menuId}
            </foreach>
            and p.parent_id&lt;&gt;0 and  p.type&lt;&gt;2 and c.type&lt;&gt;2
        </where>
        order by p.sort

    </select>

    <!--查询出全部之后在业务层使用递归-->
    <select id="selectMenusListByIds" resultType="com.tedu.sois.sys.vo.SysUserMenuVo">
        select menu_id,menu_name,url,parent_id,icon
        from sys_menu p
        <where>
            <foreach collection="menuIds" open="(" close=")" separator="or" item="menuId">
                menu_id=#{menuId}
            </foreach>
            and parent_id&lt;&gt;0 and  type&lt;&gt;2
        </where>
        order by sort
    </select>

</mapper>