<a href="#"><i class="fa fa-link"></i>
    <span>管理界面</span>
    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                      </span>
</a>
<ul class="treeview-menu">
    <li><a id="load-dept-id">部门管理</a></li>
    <li><a id="load-menu-id">菜单管理</a></li>
    <li><a id="load-role-id">角色管理</a></li>
    <li><a id="load-user-id">用户管理</a></li>
    <li><a id="load-log-id"> 日志管理</a></li>
    <li><a id="load-pwd-id"> 修改密码</a></li>
</ul>

<script>

    $(function () {
        /*加载管理员界面*/
        doLoadUI("load-dept-id", "dept/dept_list");
        doLoadUI("load-menu-id", "menu/menu_list");
        doLoadUI("load-role-id", "role/role_list");
        doLoadUI("load-user-id", "user/user_list");
        doLoadUI("load-log-id", "log/log_list");
        doLoadUI("load-pwd-id", "user/pwd_edit");
    })
</script>